body {
  background-color: #e0d6df;
}

.all-doctors-container {
  margin: auto;
  width: 50%;
  text-align: center;
}

  .doctor li {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .doc-image {
    margin-top: 10px;
    display:flex;
    border: 2px solid #11295c;
    border-radius: 50%;
    height: 110px;
    width: 110px;
  }

  /* .geoLoc {
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    background: dodgerblue;
    border: solid 5px #3b5998;
    padding: 10px 15px;
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    transition: all .5s ease; } */
    
    /* .geoLoc:hover {
      opacity: .8; } */


/* 
  scss code for expanding and collapsing a card 
  
  .section {
  overflow:hidden;
  transition:max-height 0.3s ease-out; 
  height:auto;
  max-height:600px; 
}
.section.collapsed {
  max-height:0;
} */

nav {
  background: black;
  text-align: right;
  font-family: 'Lato', sans-serif;
 }
  a {
    display: inline-block;
    margin: 7px 10px;
    margin-right: 40px;
    color: #8d1c8d;
  }

  p {
    float: left;
    margin: 7px 10px;
    margin-left: 40px;
    color: #531153;
  }

  .padding {
    margin-top:20px;
  }

  h1 {
    text-decoration: none;
    background-color: #c7b1c7;
    font-family: 'Lato', sans-serif;
    color: #8d1c8d;
    font-size: 3vw;
    text-indent: 46px;
    margin: 0;
    padding: 8px 0px 13px 0px;
  }

  h4 {
    font-family: 'Lato', sans-serif;
  }

 .icon {
  width: 3%; 
  margin-right: 10px;
 }

 .auth-form {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  padding: 25px 0px;
  position: relative;
  margin: auto;
  margin-top: 70px;
  box-shadow: rgba(105, 105, 105, 0.23) 4px 4px 17px;

}


input {
  width: 64%;
  height: 45px;
  margin-bottom: 0px !important;
  font-size: 18px;
  border: black 1px solid;
  padding-left: 3% !important;
}

button {
  height: 45px;
  background: #8d1c8d;
  color: #fff;
  padding: 14px 37px 14px 37px;
  border: none;
  cursor: pointer;
  margin: 5px 0 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

