body {
  background-color: #e0d6df;
}

.all-doctors-container {
  margin: auto;
  width: 50%;
  text-align: center;
}

.login {
    font-size: 15px;
    margin: -2.5em 0.5em 2em 0.5em;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-family: "Roboto";
    font-weight: 400;
    transition: all .5s ease; 
}
/* .button {
    font-size: 15px;
    margin: -2.5em 0.5em 2em 0.5em;
    text-decoration: none;
    border-radius: 15px;
    border: solid 3px #3b5998;
    cursor: pointer;
    background: dodgerblue;
    padding: 5px 5px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    transition: all .5s ease; 
  } */



  .add-button {
    height: 1em;
    width: 1em;
    font-size: 1em;
    margin: -2.5em 0.5em 0 0.5em;
    background-color:rgb(177, 44, 204);
    border: 2px solid #3b5998;
  }
  .doctor li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    width: 50%;
    text-align: center;
  }
  .doc-image {
    margin-top: 30px;
    border: 2px solid #3b5998;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .geoLoc {
    border-radius: 15px;
    cursor: pointer;
    background: dodgerblue;
    width: 25%;
    height: 35%;
    border: solid 5px #3b5998;
    padding: 10px 15px;
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    transition: all .5s ease; }
    
    .geoLoc:hover {
      opacity: .8; }


/* 
  scss code for expanding and collapsing a card 
  
  .section {
  overflow:hidden;
  transition:max-height 0.3s ease-out; 
  height:auto;
  max-height:600px; 
}
.section.collapsed {
  max-height:0;
} */

nav {
  background: black;
  text-align: right;
 }
  a {
    display: inline-block;
    margin: 7px 10px;
    margin-right: 40px;
    color: #8d1c8d;
  }

  p {
    float: left;
    margin: 7px 10px;
    margin-left: 40px;
    color: #8d1c8d;
  }



  h1 {
    background-color: #c7b1c7;
    font-family: 'Barlow Condensed';
    color: #2872e2;
    font-size: 3vw;
    text-indent: 46px;
    margin: 0;
    padding: 8px 0px 13px 0px;
  }

 .icon {
  /* width: 20px;
  height: 20px; */
  width: 3%; 
  margin-right: 10px;
 }

 .auth-form {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  padding: 25px 0px;
  position: relative;
  margin: auto;
  margin-top: 70px;
  box-shadow: rgba(105, 105, 105, 0.23) 4px 4px 17px;

}


input {
  width: 64%;
  height: 45px;
  margin-bottom: 0px !important;
  font-size: 18px;
  border: black 1px solid;
  padding-left: 3% !important;
}

button {
  height: 45px;
  background: #8d1c8d;
  color: #fff;
  padding: 14px 37px 14px 37px;
  border: none;
  cursor: pointer;
  margin: 5px 0 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}


