body {
  background-color: #ffffff;
}

.nav-container {
  margin: auto;
  width: 50%;
  text-align: center;
  background: lightgrey;
  border: 2px solid dodgerblue;
  border-radius: 15px;
}


.all-doctors-container {
  margin: auto;
  width: 50%;
  text-align: center;
}


.login {
    font-size: 15px;
    margin: -2.5em 0.5em 2em 0.5em;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-family: "Roboto";
    font-weight: 400;
    transition: all .5s ease; 
}
.button {
    font-size: 15px;
    margin: -2.5em 0.5em 2em 0.5em;
    text-decoration: none;
    border-radius: 15px;
    border: solid 3px #3b5998;
    cursor: pointer;
    background: dodgerblue;
    padding: 5px 5px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    transition: all .5s ease; 
  }
.signup-login {
  font-size: 1em;
  background-color: white;
  border: 2px solid #3b5998;
  border-radius: 15px;
  padding: 2px;
}

.lets-begin {
  text-decoration: none;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
}

  .add-button {
    height: 2em;
    width: 2em;
    font-size: 1em;
    margin: -2.5em 0.5em 0 0.5em;
    background-color:white;
    border: 2px solid #3b5998;
  }
  .doctor li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    width: 50%;
    text-align: center;
  }
  .login {
    font-size: 1em;
    margin: -2.5em 0.5em 0 0.5em;
    background-color: white;
    border: 2px solid #3b5998
  }

  .doc-image {
    margin-top: 30px;
    border: 2px solid #3b5998;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .geoLoc {
    border-radius: 15px;
    cursor: pointer;
    background: dodgerblue;
    width: 25%;
    border: solid 5px #3b5998;
    padding: 10px 15px;
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    transition: all .5s ease; }
    
    .geoLoc:hover {
      opacity: .8; }


/* 
  scss code for expanding and collapsing a card 
  
  .section {
  overflow:hidden;
  transition:max-height 0.3s ease-out; 
  height:auto;
  max-height:600px; 
}
.section.collapsed {
  max-height:0;
} */